.semester-table {
    margin-left: 15px; 
    margin-top: 15px;  
    border-collapse: collapse;
    color: #666;
}

#semester-table-header-row {
    background-color: #AAAAAA;
    color: white;
}

th, td {
    padding: 12px 16px;
}

tr {
    text-align: left;
    border-top: 1px #ddd solid;
}


.average, .yearAverage {
    font-weight: bold;
    color: #2A6E17;

}




